<p id="notice"><%= notice %></p>

<p>
  <strong>Zone:</strong>
  <%= @record.zone_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @record.record_type %>
</p>

<p>
  <strong>Record class:</strong>
  <%= @record.record_class %>
</p>

<p>
  <strong>Ttl:</strong>
  <%= @record.ttl %>
</p>

<p>
  <strong>Rdata:</strong>
  <%= @record.rdata %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
